body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    margin: 0px;
    padding: 0px;
}

.container-fluid{
    background-color: orange;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo:hover{
    color: gray;
}

.btn-buscar{
    background-color: black;
    color: white;
    border-color: black;
}

.btn-buscar:hover{
    background-color: grey;

}

.user-logo {
  margin: 20px;
  width: 50px;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px 5% 10px 5%;
  background-color: coral;
  align-items: center;
}

.imagen-producto img {
  margin: 40px 10px;
  border: 2px solid black;
  border-radius: 15px;
  max-width: 300px;
  max-height: 300px;
}

.datos-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 50px;
  background-color: aliceblue;
  padding: 0px 100px 0px 10px;
  border-radius: 15px;
}

.anuncio-oferta{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: orange;
    border-radius: 25px;
}

.anuncio-oferta h1{
    text-align: center;
}

.carousel{
    margin: 0px 5%;
}

.stock{
font-size: 10px;
text-align: right;
}